/*
    This challenge takes us through the implementation of CSS variables.
*/

:root {
    --base: #ff0000;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
    
.h1 {
    color: var(--base);
} 
    
/*
      misc styles, nothing to do with CSS variables
*/

body {
    text-align: center;
    background: #001f33;
    color: white;
    font-family: 'Comic Neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}
  
.controls {
    margin-bottom: 50px;
}
  
input {
    width: 100px;
}